name: 'Close stale issues and pull requests with no recent activity'
on:
  workflow_dispatch:
  schedule:
    - cron: "30 1 * * *"


permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v9
      with:
        stale-issue-message: '@qualcomm-linux-stg/test-team-mention-for-stale-bot This issue has been marked as stale due to 60 days of inactivity. To prevent automatic closure in 10 days, remove the stale label or add a comment. You can reopen a closed issue at any time.'
        stale-pr-message: '@qualcomm-linux-stg/test-team-mention-for-stale-bot This pull request has been marked as stale due to 60 days of inactivity. To prevent automatic closure in 10 days, remove the stale label or add a comment. You can reopen a closed pull request at any time.'
        exempt-issue-labels: 
        exempt-pr-labels: 
        days-before-stale: 1
        days-before-close: -1
        remove-stale-when-updated: true
        remove-issue-stale-when-updated: true
        remove-pr-stale-when-updated: true
